body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#searchBox {
    position: absolute;
    width: 50%;
    left: 10%;
    padding: 10px;
}

#searchBox input.field{
    position: relative;
	background-color: #fff;
	border: none;
	height: 48px;
	width: 30%;
	padding: 0 6px;
	font-size: 17px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFF;
	margin: 0;
}

#searchBox button{
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	border-radius: 0px 2px 2px 0px;
	border: none;
	text-align: center;
	height: 48px;
	width: 72px;
	margin: 0 0 0 -4px;
	
}

#searchBox button:hover{
	background-image: -webkit-linear-gradient(top,#3380FD,#397EEC);
}

#searchBox input.field, #searchBox button{
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
	outline: none;
}

#badges {
    width: auto;
    position: absolute;
    right: 10%;
    bottom: 5%;    
}

.badge img {
	width: 120px;
}

#about {
	margin: 0 0 10px 0;
	padding: 10px;
    cursor: pointer;
	border: 1px solid #d8d8d8; 
	background: #f9f9f9;
	 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff; 
	
}

@media screen and (max-width: 800px) { 
#searchBox {
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px;
}
#searchBox input.field{
	position: relative;
	background-color: #fff;
	border: none;
	height: 48px;
	width: 60%;
	padding: 0 6px;
	font-size: 17px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FFF;
	margin: 0;
}

}

.modal {
	background-color:#fff;
	display:none;
	width:350px;
	padding:15px;
	text-align:left;
	border:2px solid #333;

	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
	background:url(/media/img/global/info.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #333;
	font-size:20px;
}

#aboutText { display:none; }