body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

button.prefix{
  background: none;
  border: none;
}

form.search-box{
  margin: 15px;
  background-color: #FFFFFF;
}

form.search-box div.row{
  margin: 0 10px;
}

div.container{
  position: absolute;
}
