*:focus{ outline: 0; }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.shadow{
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
}

.hidden{ display: none; }

#searchBox {
    width: 90%;
    height: 25px;
    margin: 10px 4%;
    position: fixed;
    border-radius: 5px;
    padding: 8px 0 6px 6px;
    background-color: #FFF;
    border: 1px solid #AAA;
}

#searchBox input{
	margin: 0;
	float: left;
	border: none;
	height: 1.4em;
	padding: 0 6px;
	font-size: 17px;
	background-color: #FFF;
}

@media (max-width: 280px){
	#searchBox input{ width: 70%; }
}

@media (min-width: 281px) and (max-width: 320px){
	#searchBox input{ width: 77%; }
}

@media (min-width: 321px) and (max-width: 400px){
	#searchBox input{ width: 80%; }
}

@media (min-width: 401px){
	#searchBox{
		width: 340px !important;
		margin: 10px 10px !important;
	}
}

#searchBox button{
	width: 35px;
	float: right;
	border: none;
	text-align: center;
	background-color: #FFF;
}

img.icon{
	width: 17px;
	height: 17px;
	float: right;
}

.modal{
    width:80%;
    z-index:100;
    opacity: 0.7;
    position: fixed;
    font-size: 14px;
    max-height: 83%;
    overflow: scroll;
    background: #FFF;
    padding: 0 10px 10px 10px;
}

.btn{
	width: 36px;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #AAA;
	background-color: #FFF;
}

.btn img{
	margin: 10px;
}

#toast{
	left: 8%;
	bottom: 7%;
	width: 80%;
	color: #FFF;
	opacity: 0.7;
	padding: 5px;
	display: none;
	position: fixed;
	font-size: 0.9em;
	text-align: center;
	border-radius: 20px;
	background-color: #000;
}

#btn-about{
	right: 10px;
	bottom: 70px;
	position: absolute;
}

#btn-googleplay{
	position: absolute;
	right: 10px;
	bottom: 20px;
}

#btn-googleplay img{
	width: 110px;
}