
<form class="search-box z-depth-1">
  <div class="row">
    <div class="input-field col s11">
      <input id="busSearch" type="text" class="validate" ng-model="busLines">
      <label for="busSearch">Buscar ônibus</label>
      <button class="mdi-action-search prefix" ng-click="search()"></button>
      <a class="mdi-action-info prefix modal-trigger" id="info-icon" href="#infobox"></a>
    </div>
  </div>
</form>

<div id="infobox" class="modal">
  <div class="modal-content">
    <h4>RioBus</h4>
    <p>
      O <b>RioBus</b> é um sistema colaborativo de monitoramento de ônibus em tempo real, que utiliza a API aberta de dados de mobilidade urbana fornecida pela parceria entre a <a href="#" target="_blank">Prefeitura do Rio de Janeiro</a> e a <a href="#" target="_blank">FETRANSPOR</a>.
      Seu objetivo principal é ajudar o cidadão, seja ele morador ou visitante, do Rio de Janeiro a se deslocar pela cidade.
    </p>
    <p>
      O serviço é desenvolvido de forma colaborativa, e por isso depende da sua ajuda para melhorar, seja dando apenas um feedback ou aprimorando algum código.
    </p>
    <h5>Como funciona?</h5>
    <p>
      Basta digitar a linha do ônibus que você deseja encontrar na caixa de busca e a posição de cada carro aparecerá no mapa.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="waves-effect btn-flat modal-action modal-close">Fechar</a>
  </div>
</div>
