.idea/.name
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/riob-us.iml
.idea/modules.xml
.idea/misc.xml
.idea/jsLibraryMappings.xml
.idea/encodings.xml
.idea/dictionaries/UDany.xml